<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="index">
    <header>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href='/instellingen'>Instellingen</a>
            <li><a class="logout" href='/logout'>Log out</a>
        </ul>
    </header>
    <main>
        <section>
            <h1>Goedendag {{name}}</h1>
            <p>Kies je sport waar je teamgenoten wilt vinden:</p>
        </section>
        <section>
            <a href="/voetbal">
                <img src="/media/voetbalsmall.png" alt="">
            </a>
            <a href="">
                <img src="/media/basketbal.png" alt="">
            </a>
            <a href="">
                <img src="/media/golfsmall.png" alt="">
            </a>
            <a href="">
                <img src="/media/hockeysmall.png" alt="">
            </a>
            <a href="">
                <img src="/media/honkbalsmall.png" alt="">
            </a>
            <a href="">
                <img src="/media/volleybalsmall.png" alt="">
            </a>
            <a href="">
                <img src="/media/tafeltennissmall.png" alt="">
            <a href="">
                <img src="/media/rugbysmall.png" alt="">
            </a>
            <a href="">
                <img src="/media/softbalsmall.png" alt="">
            </a>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>