<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form method="POST" action="/change">
        <h1>Wachtwoord veranderen</h1>
        {{!-- <label>Je huidige gebruikersnaam</label><br><br>
        <input type="text" name="username"><br><br> --}}
        <label for="password">Wat wil je als nieuw wachtwoord?</label><br><br>
        <input type="password" name="password"><br><br>
        <button type="submit">Let's go</button><br>
    </form>
        <form method="POST" action="/delete">
        <h1>ACCOUNT VERWIJDEREN</h1>
        <label for="username">Voer je gebruikersnaam in om je account te verwijderen</label><br><br>
        <input type="text" name="username"><br><br>
        <button type="submit">Verwijder</button><br>
    </form>
</body>

</html>