<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="login">
    <h1>Inloggen</h1>
    <form method="POST" action="/login">
        <label for="username">Wat wil je als gebruikersnaam?</label>
        <input type="text" name="username" required="required">
        <label for="password">Wat wil je als wachtwoord?</label>
        <input type="password" name="password" required="required">
        <button type="submit">Let's go</button>
        
        
    </form>
    <p class="berichtje">Nog geen account? <a class="linkje" href="/register">Registreer!</a></p>
    {{#if messages.error}}
    <p id="error">{{messages.error}}</p>
    {{/if}}
</body>

</html>