<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form method="POST" action="/registered">
        <h1>Register</h1>
        <label for="email">Wat is je e-mail?</label><br><br>
        <input type="text" name="email"><br>
        <label for="username">Wat wil je als gebruikersnaam?</label><br><br>
        <input type="text" name="username"><br>
        <label for="password">Wat wil je als wachtwoord?</label><br><br>
        <input type="password" name="password"><br>
        <label for="name">Wat is je echte naam?</label><br><br>
        <input type="text" name="name"><br>
        <label for="age">Hoe oud ben je?</label><br><br>
        <input type="text" name="age"><br><br><br>
        <span>Al een account?<a href="/login">log in!</a></span>
        <button type="submit">Let's go</button><br>
    </form>
</body>

</html>