<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="voetbal">
    <main>
        <header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href='/instellingen'>Instellingen</a>
                <li><a href='/logout'>Log out</a>
            </ul>
        </header>
        <section>
            <h1>Frenkie de Jong</h1>
            <p>Speelt middenveld en vind spelverdelen leuk.</p>
        </section>
        <section>
            <img src="/media/frenkie.jpg" alt="">
        </section>
        <section>
            <a href="" class="like">Like</a>
            <a href="" class="dislike">Dislike</a>
        </section>
    </main>
</body>

</html>