<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form method="POST" action="/forgot">
        <h1>Register</h1>
        <label>Wat is je huidige wachtwoord?</label><br><br>
        <input type="password" name="password"><br>
        <label>Wat wil je als  nieuwe wachtwoord?</label><br><br>
        <input type="password" name="newpassword"><br>
        <span>Weet je je wachtwoord nog? <a href="/login">Log in!</a></span>
        <button type="submit">Let's go</button><br>
    </form>
</body>

</html>